<header>
  <div id="logo">
    <img src="logo.png" alt="Website logo, a server" />
  </div>

  <nav>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/">Management</a>
      </li>
      <li>
        <button appButton>
          Logout
          <span ngProjectAs="icon">⇨</span>
          <!-- ngProjectAs use anywhere you're trying to use advance content projection. In this case using it to put an element selector icon in -->
        </button>
      </li>
    </ul>
  </nav>
</header>
